.section-primary {
    grid-template-columns: 250px 1fr 330px;

    &-left {
        .article {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.read-a-lot {
    &__item {
        &:last-child {
            border-bottom: none;
        }
    }
}

.heading-primary {
    border-bottom: 1px solid #e5e5e5;
    a {
        display: inline-block;
        padding-bottom: 0.625rem;
        border-bottom: 2px solid #acce22;
    }
}
